.company-container {
  width: 100%;
  max-width: 954px;
  height: 252px;
  padding: 24px 32px;
  background: #ebebeb;
  border: 1px solid transparent;
  display: flex;
  justify-content: space-around;
  align-items: center;
  .company-support {
    position: relative;
    min-height: 200px;
    border: 1px solid transparent;
    .company-support-title {
      top: 0;
      left: 0;
    }
    .company-support-list {
      padding-top: 12px;
      font-size: 12px;
      font-weight: 400;
      color: #787c8b;
      cursor: pointer;
    }
  }
}
