.footer {
  width: 100%;
  max-width: 954px;
  height: 62px;
  padding: 24px 32px;
  background: #ebebeb;
  display: flex;
  font-size: 12px;
  justify-content: space-between;

  .footer-etc {
    display: flex;
    margin-left: 12px;
    font-size: 8px;
    align-items: center;
    .etc {
      position: relative;
      padding: 0 8px;
      &::before {
        content: "·";
        position: absolute;
        left: 0;
        border-radius: 50%;
      }
    }
  }
  .footer-layout {
    width: 150px;
  }
  .footer-content {
    display: flex;

    font-size: 12px;
    .footer-language-krw {
      display: flex;

      .korean,
      .won {
        padding: 0 8px;
      }
    }

    .footer-community {
      display: flex;
      padding: 0 12px;
      i {
        font-size: 15px;
      }
    }
  }
}
