body {
  background: #000;
}
.page-layout {
  border: 1px solid yellow;
  position: absolute;
  left: 50%;
  margin-left: -25%;
}

@import "./common.scss";

@import "./main.scss";
@import "./header.scss";
@import "./mainimg.scss";
@import "./locationintro.scss";
@import "./experience.scss";
@import "./abouthosting.scss";
@import "./company.scss";
@import "./footer.scss";
