.page-layout {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: absolute;
  left: 50%;
  margin-left: -50%;
}

@import "./common.scss";

@import "./main.scss";
@import "./header.scss";
@import "./mainimg.scss";
@import "./locationintro.scss";
@import "./experience.scss";
@import "./abouthosting.scss";
@import "./company.scss";
@import "./footer.scss";
