* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  width: 120px;
  height: 72px;
}

li {
  list-style: none;
}

input {
  border: none;
  background-color: transparent;
  outline: transparent;
}