.test {
  background: red;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-display {
  width: 100vw;
  height: 950px;
  max-height: 950px;
  background-color: yellow;
  display: flex;
  justify-content: center;
}